.table {    
    background-color: lightgrey;
    table-layout:auto;  
  }
  
  th { 
    color: black; 
    font-weight: bold;
     
  }
  td, th { 
    padding: 6px; 
    border: 1px solid white; 
    text-align: center;  
  }


.list-container{
    
    display: flex;
    flex-direction: column;
 
    align-items: center;
    
   
           
}
.list-container>*:first-child {
  align-self: center;
  margin-bottom: 20px;
  
}

.prop-td{
  width: 200px;
}

.id-td{
  width: 100px;
}

.btn{
    background-color: rgb(59, 68, 68);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    margin-left: 5px;
}
.icon{
  color: black;
  padding: 7px 16px;
  font-size: 20px;
  
}


.search-box{
 padding: 5px;
 background-color: lightgray;
 font-weight: bold;
}
.drop-down{
color: gray; 
font-size: 20px;
font-weight: bold;
margin-left:440px;
border: lightgrey;


}
.head-box{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.btn-pos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}