<div class="flex-container">

    <input class="search" type="text" [(ngModel)]="searchText" placeholder="Search">
    <div class="tree-container">

        <div class="node-item">
            <ng-container *ngTemplateOutlet="treeViewList ; 
             context:{$implicit:(data| treeFilter: searchText )}">
            </ng-container>
        </div>
        <div>
            <ng-template #treeViewList let-nodes>
                <ul>
                    <li *ngFor="let node of nodes">
                        <div *ngIf="node.show" title="{{node.title}}">
                            <i *ngIf="node.children.length > 0" class="cursor arrow-down  "
                                [ngClass]="{ 'open': node.expendable }" nz-icon nzType="caret-right"
                                (click)="onExpand(node)"></i>
                            <input class="cursor" type="checkbox" [(indeterminate)]="node.indeterminate"
                                (change)="onSelect(node, $event)" [(ngModel)]="node.isChecked">
                            <label class="cursor ellipsis" (click)="onCheck(node)">{{node.title| ellipsis}}</label>
                            <div *ngIf="node.expendable">
                                <ng-container *ngTemplateOutlet="(treeViewList );
                                        context:{$implicit: (node.children ) }">
                                </ng-container>
                            </div>
                        </div>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</div>